html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Noto Serif','Noto Serif JP', serif;
}

img {
    width: 100%;
    vertical-align: bottom;
}

a {
    text-decoration: none;
}
